In [1]:
import pandas as pd
weather_data = {
    'day' : ['01/06/2022', '02/06/2022', '03/06/2022', '04/06/2022', '05/06/2022'],
    'temperature' : ['35', '36', '40', '41', '40'],
    'windspeed' : ['4', '2', '6', '1', '8'],
    'event' : ['rainy', 'sunny', 'snowy', 'sunny', 'snowy']
}
df = pd.DataFrame(weather_data)
df

          day temperature windspeed  event
0  01/06/2022          35         4  rainy
1  02/06/2022          36         2  sunny
2  03/06/2022          40         6  snowy
3  04/06/2022          41         1  sunny
4  05/06/2022          40         8  snowy

In [3]:
rows, columns = df.shape

In [4]:
columns

4

In [5]:
df.head()

          day temperature windspeed  event
0  01/06/2022          35         4  rainy
1  02/06/2022          36         2  sunny
2  03/06/2022          40         6  snowy
3  04/06/2022          41         1  sunny
4  05/06/2022          40         8  snowy

In [6]:
df.tail(2)

          day temperature windspeed  event
3  04/06/2022          41         1  sunny
4  05/06/2022          40         8  snowy

In [7]:
df[1:3]

          day temperature windspeed  event
1  02/06/2022          36         2  sunny
2  03/06/2022          40         6  snowy

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df.event

0    rainy
1    sunny
2    snowy
3    sunny
4    snowy
Name: event, dtype: object

In [10]:
df['event']

0    rainy
1    sunny
2    snowy
3    sunny
4    snowy
Name: event, dtype: object

In [12]:
df[['event', 'day']]

   event         day
0  rainy  01/06/2022
1  sunny  02/06/2022
2  snowy  03/06/2022
3  sunny  04/06/2022
4  snowy  05/06/2022

In [13]:
df['temperature'].max()

'41'